* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style-type: none;
  outline: none;
  box-sizing: border-box;
}

ul {
  margin: 0;
  padding-left: 0;
}

img {
  display: block;
}

a {
  text-decoration: none;
}

.wrapper {
  padding: 24px 0;
  max-width: 1400px;
  margin: 0 auto;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 24px;
  align-items: center;
  position: relative;
  max-width: 1128px;
  margin: 0 auto;
}

.gallery-item {
  width: 360px;
  height: 200px;
  display: block;
  overflow: hidden;
  transform: scale(1, 1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.gallery-image {
  width: 100%;
  height: 100%;
}

.gallery-item:hover,
.gallery-item:focus {
  transform: scale(1.1, 1.1);
}

.modal img {
  width: 100%;
  max-height: 640px;
}
